<div class="row animated fadeIn">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Usuarios</h3>

                <div class="alert alert-info text-center" *ngIf="usuarios.length === 0">
                    <p class="mb-0"> No existen Usuarios con ese filtro.</p>
                </div>

                <div class="table-responsive" *ngIf="usuarios.length !== 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>

                            </tr>
                        </thead>
                        <tbody class="animated fadeIn">
                            <tr *ngFor="let usuario of usuarios" class="animated fadeIn">
                                <td>
                                    <img [src]="usuario.img | imagen:'usuarios'" class="avatar ">
                                </td>
                                <td>{{ usuario.nombre }}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Médicos</h3>
                <div class="alert alert-info text-center" *ngIf="medicos.length === 0">
                    <p class="mb-0"> No existen médicos con ese filtro.</p>
                </div>

                <div class="table-responsive" *ngIf="medicos.length !== 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>

                            </tr>
                        </thead>
                        <tbody class="animated fadeIn">
                            <tr *ngFor="let medico of medicos" class="animated fadeIn" (click)="abrirMedico(medico)">
                                <td>
                                    <img [src]="medico.img | imagen:'medicos'" class="avatar ">
                                </td>
                                <td>{{ medico.nombre }}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Hospitales</h3>
                <div class="alert alert-info text-center" *ngIf="hospitales.length === 0">
                    <p class="mb-0"> No existen hospitales con ese filtro.</p>
                </div>

                <div class="table-responsive" *ngIf="hospitales.length !== 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>

                            </tr>
                        </thead>
                        <tbody class="animated fadeIn">
                            <tr *ngFor="let hospital of hospitales" class="animated fadeIn">
                                <td>
                                    <img [src]="hospital.img | imagen:'hospitales'" class="avatar ">
                                </td>
                                <td>{{ hospital.nombre }}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>