<div class="row">
    <div class="col-6">

        <app-dona titulo='Ventas' [labels]='labels1' [data]='data1'></app-dona>
    </div>
    <div class="col-6">


        <app-dona titulo='Hola' [labels]='labels1' [data]='data1'></app-dona>
    </div>
</div>

<div class="row">
    <div class="col-6">


        <app-dona titulo='titulo 2' [labels]='labels1' [data]='data1'></app-dona>
    </div>
    <div class="col-6">


        <app-dona titulo='titulo 3' [labels]='labels1' [data]='data1'></app-dona>
    </div>
</div>